.box{
    padding-top: 94px;
    padding-right: 15px;
    padding-left: 15px;
    &__background{
        margin-top: 94px;
        padding-bottom: 94px;
        background-color: getColors("sectionBackgroundColor");
        width:100%;}
        
    &__title{
        font-size: getFontSize("xl");
        font-weight: 700;
        line-height: 0.85;
        color: getColors(blackParagraph);
        text-align: center;
        margin-bottom: 50px;
    }
    &__list{
        width: 1200px;
        margin: 0 auto;
        list-style-type: $listStyle;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        &--icon {
            background-color: getColors("sectionBackgroundColor");
            height: 120px;
            width: 270px;
            border-radius: 4px;
            display: flex;
            margin: 0;
            justify-content: center;
            align-items: center;
          }
          &--background-image{
            position: relative;
            width: 370px;
            height: 294px;
          }
          &--label{
            position: absolute;
            background-color: rgba(47, 48, 58, 0.8);
            color: getColors(whiteFontColor);
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            font-size: getFontSize("xs");
            line-height: 1.14;
            font-weight: 700;
            padding-top: 27px;
            padding-bottom: 27px;
            letter-spacing: 0.03em;
          }
          &--image{
            width: 170px;
            height: 92px;
            fill: getColors("iconsColor");
            @include transitions(fill);
            &:hover,
            &:focus {
                fill: getColors("logoColor");
            }
            }
            &--border{
                margin-bottom: 94px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 170px;
                height: 92px;
                border: 1px solid getColors("iconsColor");
                border-radius: 4px;
                transition-property: border-color;
                @include transitions(border-color);
                &:hover,
                &:focus {
                    border-color: getColors("logoColor");
                }
            }
                }
    
    &__name{
        font-size: getFontSize("xs");
        font-weight: 700;
        line-height: 1.14;
        color: getColors("blackFontColor");
        margin-top: 30px;
        &--johndoe{
            font-weight: 500;
            font-size: getFontSize("s");
            text-align: center;
        }
    }
    &__text{
        font-size: getFontSize("xs");
        font-weight: 400;
        line-height: 1.7;
        color: getColors("grayFontColor");
        padding-top: 10px;
        &--job{
            font-size: getFontSize("s");
            text-align: center;
        }
    }
    &__border {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
          0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: #ffffff;
    }
}