@import "../utils/_variables.scss";
@import "../utils/_transitions.scss";
@import "../utils/_decoration.scss";

.icon-section {
  padding-bottom: 0px;

  &__list {
    list-style-type: $listStyle;
    display: flex;
    gap: 30px;
  }

  &__style-paragraph {
    font-size: getFontSize("xs");
    font-weight: 400;
    line-height: 1.7;
    color: getColors("grayFontColor");
    padding-top: 10px;
  }

  &__paragraph-header {
    font-size: getFontSize("xs");
    font-weight: 700;
    line-height: 1.14;
    color: getColors("blackFontColor");
    margin-top: 30px;
  }

  &__icon {
    background-color: getColors("sectionBackgroundColor");
    height: 120px;
    width: 270px;
    border-radius: 4px;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
}
