
.our-team {
  background-color: getColors("sectionBackgroundColor");
  &__header {
    font-size: getFontSize("xl");
    font-weight: 700;
    line-height: 0.85;
    color: getColors("blackParagraph");
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    list-style-type: $listStyle;
    display: flex;
    justify-content: space-between;
    font-size: getFontSize("s");
  }
    &__name {
      font-weight: 500;
      line-height: 1.17;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    &__job-position {
      font-weight: 400;
      line-height: 1.17;
      color: getColors("grayFontColor");
      text-align: center;
    }
    &__border {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      background-color: #ffffff;
    }
  }


